<footer>
	<div class="footer-copyright  center">
		<div class="container">
			© 2021 Vikash Patel
			<br>
			Contact us at: <a href="mailto:support@mail.lrbc.ml?subject=feedback">support@mail.lrbc.ml</a>
			<!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
		</div>
	</div>
</footer>
<script src="/public/js/materialize.min.js"></script>
</body>

</html>