<footer>
    <div class="footer-copyright  center">
        <div class="container">
            ©2021 Vikash Patel
            <br>
            Write at: <a href="mailto:support@lrbc.ml?subject=feedback">support@lrbc.ml</a>
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
    </div>
</footer>
<script src="/public/js/materialize.min.js"></script>
</body>

</html>