node_modules

# all the development only files
.hidden/

# DATABASE CONFIGURATION
# use 'temp.db.bat' to define environment variables
export.db.bat
export.db.sh
ecosystem.config.js

npm-debug.log
.DS_Store
/*.env
logs

# Non deployed, temporary code
apis/demo.js
middlewares/auth.js
middlewares

# Feature testing files
playground.js