<%- include('includes/header.ejs') -%>
    <div class="container">
        <h4 class="center">Welcome to LRBC:: URL Shortner</h4>
        <br>
        <%- include('includes/custom_url_input.ejs') -%>
    </div>
    <%- include('includes/footer.ejs') -%>