<%- include('includes/header.ejs') -%>
<div class="container">
  <h4 class="center">Welcome to LRBC :: URL shortner</h4>
  <br />
  <%- include('includes/url_input.ejs') -%>
</div>
<p class="center">
  Proxy to this application <a href="https://new.lrbc.ml" target="_blank">new.lrbc.ml</a>
</p>
<%- include('includes/footer.ejs') -%>
