<%- include('includes/header.ejs') -%>

	<div class="container center">
		<h4 class="center">Your Shorted URL</h4>
		<h5 class="">
			<a href="<%= context.url %> " target="_blank">
				<%= context.url %>
			</a>
		</h5>
		<br>
	</div>


	<%- include('includes/footer.ejs') -%>